.axis
{
    fill: none;
    stroke: #000;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 0.9em;

}

.crisp{
    shape-rendering: crispEdges;
}


.rectSelec {

    fill: #b3ffb3;
    opacity : 0.5;
    stroke-width : 1.5;
    stroke: #006600;

}

.svgline{
    shape-rendering: optimizeSpeed;
}
.lgd{
    width: 0.75em;
    height: 0.75em;
}

.line{
    fill: none;
    stroke: #805500;
    stroke-width: 1;
}

.grid{
    stroke:#b3b3b3;
    shape-rendering: crispEdges;
    fill: none;

}

.area {
    fill: #dfd8e6;
    stroke-width: 0;
}

.circlePosition {

    fill:#dfd8e6;
    stroke: #805500;
    stroke-width: 1;

}

.tableTitle{
    border-bottom-style: ridge;
    margin-top: 0em;
    margin-bottom: 0em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-align: center;
}

.frame{
    fill:none;
}
.divtable{
    vertical-align: top;
    border-style: ridge;

}
.tableLegend{

    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    overflow: scroll;
    cursor: default;
}

.tableLegend td{
    padding: 5px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

.tableLegend td:nth-of-type(1){
    border-left: 1px solid transparent;
}

.tableLegend td:nth-of-type(2){
    width: 100%;
    border-right: 1px solid transparent;
}




.rectAxis{
    fill:#ffffff;
    stroke:#ffffff;
}
.data{
    stroke-width: 1;
}

.part path{

    stroke-width: 1;
    stroke: #fff6f6;

}

.graph{
    position:relative;
    background-color: #fcfcfc;
}

.forTestClass{

    height: 95vh;
    width:100%;

}

.diagram{
    display: inline-block;
}



.font2{
    font-weight: 400;

}

.strikedRow{
    text-decoration : line-through;
    color:grey;
}

.popup{
    position:absolute;
    background-color: #fff6f6;
    border: 1px #ccc solid;
    border-radius: 6px;
    box-shadow: #333 2px 2px 4px;
    display: inline-block;
    left:0;
    bottom:0;
    padding-bottom: 10px;

}

.tableLegend tr:nth-child(even) {
    background-color: #eee;
}
.tableLegend tr:nth-child(odd) {
    background-color: #fff;
}



.overlay{
    position:absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #b3b3b3;
    opacity:0.5;
}


.elemtext {
    font: 10px arial;
    text-anchor: middle;

}

.bckgr-txt{
    text-anchor: middle;
    font: 50px sans-serif;
    font-weight:900;


}


.geometricPrecision{
    shape-rendering: geometricPrecision;
}

.countries_boundaries {
    fill:none;
    stroke-linejoin: round;
    stroke: #777;
}


.backgroundSea{

    fill: #bdeeff;


}

.pieSvg{
    shape-rendering: geometricPrecision;

}

.popupTitle{
    text-align:center ;
}

.popupTableDiv{
    display:inline-block;
    vertical-align: top;
    border: 2px ridge;
    margin-right:10px;

}

.popupTableLegend{
    display: inline-block;
    border-collapse: collapse;
    table-layout: fixed;
    overflow-y: auto;
    overflow-x: scroll;
    cursor: default;
    margin-bottom: 0;
}


.popupTableLegend tr:nth-child(even) {
    background-color: #eee;
}
.popupTableLegend tr:nth-child(odd) {
    background-color: #fff;
}



.popupTableLegend td{
    padding: 5px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

.popupTableLegend td:nth-of-type(1){
    border-left: 1px solid transparent;
}

.popupTableLegend td:nth-of-type(2){
    border-right: 1px solid transparent;
}




.outlined td{
    border-top: 1px double black;
    border-bottom: 1px solid black;
}

.outlined td:nth-of-type(1){
    border-left: 1px solid black;
}


.outlined td:nth-of-type(2){
    border-right: 1px solid black;
}
