




<!--div class="fullWidth bannerImg">
    <img alt="Logo" src="images/zDaq_banner_logo.png"/>
    <img alt="Logo" class="homeLogoImg pull-right" src="images/logoIN2P3-CNRS.png"/>
</div-->


<br><br><br><br>


<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3><i>Data acquisition software for physics experiments</i></h3>
        </div>
        <div class="panel-body">
            <div class="textblock">
                <p><b>Specifications</b> :</p>
                <ul>
                    <li>Generic acquisition software for physics experiments</li>
                    <li>Really fast and scalable</li>
                    <li>Multithreaded data collection by ethernet </li>
                    <li>Fully multithreaded sorting and filtering features</li>
                    <li>Tested and proven in many experiments (OPERA, DIAPHANE, etc.)<br>
                        Up to <b>10 years of uninterrupted data acquisition</b> <br>
                        Up to <b>thousands internet devices continuously interrogated</b>
                    </li>
                    <li>Secured web interface, intuitive and responsive based on HTML5 and Websockets</li>
                    <li>Very portable and adaptable</li>
                </ul>
            </div>
        </div>
        <div class="panel-footer">
            <p><b>Current acquisition status</b> : </p>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <div id="home_daqVersion"></div>
                    <div id="home_acqStatus"></div>
                    <div id="home_acqComment"></div>
                </div>
            </div>
        </div>

    </div>
</div>

<br><br><br><br>

<!--div class="row">

    <div class="col-sm-6">

        <div class="panel panel-default float-left">
            <div class="panel-heading">
                <div class="contents">
                    <div class="textblock">
                        <p>Need an acquisition software ?</p>

                        <a href="mailto:thierry.descombes@gmail.com">Contact us</a>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="col-sm-6">

        <div class="panel panel-default float-right text-center">
            <div class="panel-heading">
                <img title="LibNavajo" class="libnavajoLogo" src="images/navajo_m.png"/><br>Powered by <a href="http://www.libnavajo.org">libnavajo</a>
            </div>
        </div>

    </div>

</div-->