
<br>


<form class="form-horizontal row" id="charts_form"> <!--onsubmit="getRawData(serializeRawDataForm()); return false" -->

    <div class="panel panel-default">
        <div class="panel-heading padding2px">
            <fieldset class="container">
                <!--legend>Timestamp Filter</legend-->
                <div class="form-group col-md-4">
                    <label class="control-label col-xs-2 col-md-4" for="timesliceCharts">Timeslice:</label>
                    <div class="col-xs-10 col-md-8">
                        <select class="form-control" id="timesliceCharts" onchange="onChangeChartsTimestep(); updateChartsTimestep(this)">
                            <option value="lastDay" selected="selected">Last 24h</option>
                            <option value="lastMonth" >Last Month</option>
                            <option value="hourly">Custom (Hourly)</option>
                            <option value="daily" >Custom (Daily)</option>
                        </select>
                        <input type="hidden" name="pset" id="preset_ChartsForm"/>
                    </div>
                </div>

                <div class="form-group col-md-3">
                    <label class="control-label col-xs-2" for="dateDebCharts">From:</label>
                    <div class="col-xs-10">
                        <div class='input-group date' id='fromDate_ChartsForm'>
                            <input type='text' class="form-control" onchange="onChangeChartsTimestep();" required disabled/>
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                        </div>
                        <input type="hidden" name="dd" id="dateDebCharts" value=""/>
                    </div>
                </div>

                <div class="form-group col-md-3">
                    <label class="control-label col-xs-2" for="dateFinCharts">To:</label>
                    <div class="col-xs-10">
                        <div class='input-group date' id='toDate_ChartsForm'>
                            <input type='text' class="form-control" onchange="onChangeChartsTimestep();" required disabled/>
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                        </div>
                        <input type="hidden" name="df" id="dateFinCharts" value=""/>
                    </div>
                </div>

                <div class="form-group col-xs-12 col-md-1 text-center">
                    <button type="button" class="btn btn-default" id="applyBtn_charts_form" onclick="applyChartsTimestep()" disabled>Apply</button>
                </div>

                <div class="form-group col-xs-12 col-md-1 text-center">
                    <button type="button" class="btn btn-default" id="resetBtn_charts_form" onclick="resetChartsTimeslice()" disabled>Reset</button>
                </div>

            </fieldset>
        </div>
    </div>

</form>

<hr class="myhr">

<div class="container-fluid">
    <div>
        <button class="btn scroller scroller-left"><i class="glyphicon glyphicon-chevron-left"></i></button>
        <button class="btn scroller scroller-right"><i class="glyphicon glyphicon-chevron-right"></i></button>
        <div class="wrapper">
            <ul class="nav nav-tabs list network-tab-list" id="networkTabsContainer">
                <!--li class="active"><a data-toggle="tab" href="#divNetworkGlobal"> Global</a></li-->
            </ul>
        </div>

        <div class="tab-content network-tab-content">
            <!--div class="tab-pane fade in network active" data-network="Global" data-toggle="tab" id="divNetworkGlobal" >Global Network Content</div-->
        </div>
    </div>

</div>
