{localhost}
{localhost.ip}
<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
        <span class="caret"></span></button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
        <li role="presentation"><a role="menuitem" tabindex="-1" onclick="console.log($(this))">HTML</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" onclick="console.log($(this))">CSS</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" onclick="console.log($(this))">JavaScript</a></li>
        <li role="presentation" class="divider"></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" onclick="console.log(this)">About Us</a></li>
    </ul>
</div>