<div class="modal fade" id="alertBS_Modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content panel-danger">
            <div class="modal-header panel-heading">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><div id="alertBS_title"></div></h4>
            </div>
            <div class="modal-body" id="alertBS_content">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="alertBS_button"><div id="alertBS_buttonLabel"></div></button>
            </div>
        </div>
    </div>
</div>
