






<div class="container-fluid">
    <div class="row">
        <div class="dropdown open col-xs-12">

            <div class="btn-group chartNavDropdownContainer">
                <button class="fa fa-plus-square fa-1_3x btn btn-lg btn-secondary dropdown-toggle chartNavDropdownButton" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <p class="chartTitle pull-right" id="network | prepend 'shownChartTitle'">Select a chart to display</p>
                </button>
                <div class="dropdown-menu chartNavContainer">
                    <ul class="nav nav-tabs nav-stacked nav-nest">
                        <li><a class="navtab" data-toggle="collapse" rv-href="network | prepend '#trafficBy'"><i class="fa fa-plus-square " aria-hidden="true"></i> TRAFFIC</a></li>
                        <ul rv-id="network | prepend 'trafficBy'" class="nav nav-tabs nav-stacked collapse">
                            <li><a class="subnavtab" data-toggle="tab" rv-href="network | prepend '#trafficByProtocols'" rv-data-network="network" data-chart-json="netProtocolTraffic.json" data-chart-title="Traffic by Protocol" data-ajax-params=""><i class="fa fa-area-chart" aria-hidden="true"></i> by Protocols</a></li>
                            <li><a class="subnavtab" data-toggle="tab" rv-href="network | prepend '#trafficByLocalhosts'" rv-data-network="network" data-chart-json="netTopLHostsTraffic.json" data-chart-title="Traffic by Localhost (Top)" data-ajax-params=""><i class="fa fa-area-chart" aria-hidden="true"></i> by Localhosts (Top)</a></li>
                            <li><a class="subnavtab" data-toggle="tab" rv-href="network | prepend '#trafficByServices'" rv-data-network="network" data-chart-json="netTopServicesTraffic.json" data-chart-title="Traffic by Local Service (Top)" data-ajax-params="service=loc"><i class="fa fa-area-chart" aria-hidden="true"></i> by Local Services (Top)</a></li>
                            <li><a class="subnavtab" data-toggle="tab" rv-href="network | prepend '#trafficByServices'" rv-data-network="network" data-chart-json="netTopServicesTraffic.json" data-chart-title="Traffic by External Service (Top)" data-ajax-params="service=ext"><i class="fa fa-area-chart" aria-hidden="true"></i> by External Services (Top)</a></li>
                            <li><a class="subnavtab" data-toggle="tab" rv-href="network | prepend '#trafficByAutonomousSystems'" rv-data-network="network" data-chart-json="netTopAsTraffic.json" data-chart-title="Traffic by Autonomous System (Top)" data-ajax-params=""><i class="fa fa-area-chart" aria-hidden="true"></i> by Autonomous Systems (Top)</a></li>
                            <li><a class="subnavtab" data-toggle="tab" rv-href="network | prepend '#trafficByApplications'" rv-data-network="network" data-chart-json="netTopAppTraffic.json" data-chart-title="Traffic by Application (Top)" data-ajax-params=""><i class="fa fa-area-chart" aria-hidden="true"></i> by Applications (Top)</a></li>
                            <li><a class="subnavtab" data-toggle="tab" rv-href="network | prepend '#trafficByCountries'" rv-data-network="network" data-chart-json="netTopCountryTraffic.json" data-chart-title="Traffic by Country (Top)" data-ajax-params=""><i class="fa fa-area-chart" aria-hidden="true"></i> by Countries (Top)</a></li>
                        </ul>

                        <li><a class="navtab" data-toggle="collapse" rv-href="network | prepend '#flowsBy'"><i class="fa fa-plus-square " aria-hidden="true"></i> Nb FLOWS</a></li>
                        <ul rv-id="network | prepend 'flowsBy'" class="nav nav-tabs nav-stacked collapse">
                            <li><a class="subnavtab" data-toggle="tab" rv-href="network | prepend '#flowsAll'" rv-data-network="network" data-chart-json="netNbFlow.json" data-chart-title="Flow Count" data-ajax-params=""><i class="fa fa-area-chart" aria-hidden="true"></i> Flow count</a></li>
                            <!-- li class="hourly_only"--><li><a class="subnavtab" data-toggle="tab" rv-href="network | prepend '#flowsByLocalhosts'" rv-data-network="network" data-chart-json="netTopLHostsNbFlow.json" data-chart-title="Flow number by Localhost (Top)" data-ajax-params=""><i class="fa fa-area-chart" aria-hidden="true"></i> by Localhosts (Top)</a></li>
                            <li><a class="subnavtab" data-toggle="tab" rv-href="network | prepend '#flowsByServices'" rv-data-network="network" data-chart-json="netTopServicesNbFlow.json" data-chart-title="Flow number by Local Service (Top)" data-ajax-params="service=loc"><i class="fa fa-area-chart" aria-hidden="true"></i> by Local Services (Top)</a></li>
                            <li><a class="subnavtab" data-toggle="tab" rv-href="network | prepend '#flowsByServices'" rv-data-network="network" data-chart-json="netTopServicesNbFlow.json" data-chart-title="Flow number by External Service (Top)" data-ajax-params="service=ext"><i class="fa fa-area-chart" aria-hidden="true"></i> by External Services (Top)</a></li>
                            <li><a class="subnavtab" data-toggle="tab" rv-href="network | prepend '#flowsByAutonomousSystems'" rv-data-network="network" data-chart-json="netTopAsNbFlow.json" data-chart-title="Flow number by Autonomous System (Top)" data-ajax-params=""><i class="fa fa-area-chart" aria-hidden="true"></i> by Autonomous Systems (Top)</a></li>
                            <li><a class="subnavtab" data-toggle="tab" rv-href="network | prepend '#flowsByApplications'" rv-data-network="network" data-chart-json="netTopAppNbFlow.json" data-chart-title="Flow number by Application (Top)" data-ajax-params=""><i class="fa fa-area-chart" aria-hidden="true"></i> by Applications (Top)</a></li>
                            <li><a class="subnavtab" data-toggle="tab" rv-href="network | prepend '#flowsByCountries'" rv-data-network="network" data-chart-json="netTopCountryNbFlow.json" data-chart-title="Flow number by Country (Top)" data-ajax-params=""><i class="fa fa-area-chart" aria-hidden="true"></i> by Countries (Top)</a></li>
                        </ul>

                        <!--li><a data-toggle="collapse" rv-href="network | prepend '#localServiceBy'"><i class="fa fa-plus-square " aria-hidden="true"></i> Local Services by</a></li>
                        <ul rv-id="network | prepend 'localServiceBy'" class="nav nav-tabs nav-stacked collapse">
                            <li><a class="subnavtab" data-toggle="tab" rv-href="network | prepend '#localServiceByTraffic'" rv-data-network="network" data-chart-json="test.json" data-ajax-params=""><i class="fa fa-area-chart" aria-hidden="true"></i> Traffic</a></li>
                            <li><a class="subnavtab" data-toggle="tab" rv-href="network | prepend '#localServiceByPacketsNumber'" rv-data-network="network" data-chart-json="test.json" data-ajax-params=""><i class="fa fa-area-chart" aria-hidden="true"></i> Packets Number</a></li>
                        </ul>

                        <li><a data-toggle="collapse" rv-href="network | prepend '#externalServiceBy'"><i class="fa fa-plus-square " aria-hidden="true"></i> External Services by</a></li>
                        <ul rv-id="network | prepend 'externalServiceBy'" class="nav nav-tabs nav-stacked collapse">
                            <li><a class="subnavtab" data-toggle="tab" rv-href="network | prepend '#externalServiceByTraffic'" rv-data-network="network" data-chart-json="test.json" data-ajax-params=""><i class="fa fa-area-chart" aria-hidden="true"></i> Traffic</a></li>
                            <li><a class="subnavtab" data-toggle="tab" rv-href="network | prepend '#externalServiceByPacketsNumber'" rv-data-network="network" data-chart-json="test.json" data-ajax-params=""><i class="fa fa-area-chart" aria-hidden="true"></i> Packets Number</a></li>
                        </ul-->

                        <!--li><a data-toggle="collapse" rv-href="network | prepend '#nbActive'"><i class="fa fa-plus-square " aria-hidden="true"></i> Number of Active</a></li>
                        <ul rv-id="network | prepend 'nbActive'" class="nav nav-tabs nav-stacked collapse">
                            <li><a class="subnavtab" data-toggle="tab" rv-href="network | prepend '#nbActiveLocalHosts'" rv-data-network="network" data-chart-json="netNbLocalHosts.json" data-ajax-params=""><i class="fa fa-area-chart" aria-hidden="true"></i> Local Hosts</a></li>
                            <li><a class="subnavtab" data-toggle="tab" rv-href="network | prepend '#nbActiveExternalHosts'" rv-data-network="network" data-chart-json="netNbExternalHosts.json" data-ajax-params=""><i class="fa fa-area-chart" aria-hidden="true"></i> External Hosts</a></li>
                        </ul-->

                        <li><a class="navtab" data-toggle="collapse" rv-href="network | prepend '#nbHosts'"><i class="fa fa-plus-square " aria-hidden="true"></i> Nb HOSTS</a></li>
                        <ul rv-id="network | prepend 'nbHosts'" class="nav nav-tabs nav-stacked collapse">
                            <li><a class="subnavtab" data-toggle="tab" rv-href="network | prepend '#nbHostsActiveLocalHosts'" rv-data-network="network" data-chart-json="netNbLocalHosts.json" data-chart-title="Active Localhosts Count" data-ajax-params=""><i class="fa fa-area-chart" aria-hidden="true"></i> Active Local Hosts</a></li>
                            <li class="minute_only"><a class="subnavtab" data-toggle="tab" rv-href="network | prepend '#nbHostsDistinctExternalHosts'" rv-data-network="network" data-chart-json="netNbExternalHosts.json" data-chart-title="Distinct External Hosts Count" data-ajax-params=""><i class="fa fa-area-chart" aria-hidden="true"></i> Contacted External Hosts</a></li>
                            <li class="exceptFor_minute"><a class="subnavtab" data-toggle="tab" rv-href="network | prepend '#nbHostsDestByLocalhosts'" rv-data-network="network" data-chart-json="netTopNbExtHosts.json" data-chart-title="External Hosts Count by Localhost (Top)" data-ajax-params=""><i class="fa fa-area-chart" aria-hidden="true"></i> Nb Dest. by LH (Top)</a></li>
                        </ul>

                        <!--li><a data-toggle="collapse" rv-href="network | prepend '#nbDestinations'"><i class="fa fa-plus-square " aria-hidden="true" data-ajax-params=""></i> Number of Destinations</a></li>
                        <ul rv-id="network | prepend 'nbDestinations'" class="nav nav-tabs nav-stacked collapse">
                            <li><a class="subnavtab" data-toggle="tab" rv-href="network | prepend '#nbDestinationsLocalHosts'" rv-data-network="network" data-chart-json="test.json" data-ajax-params=""><i class="fa fa-area-chart" aria-hidden="true"></i> Local Hosts</a></li>
                        </ul-->

                        <li><a class="navtab" data-toggle="collapse" rv-href="network | prepend '#packetsBy'"><i class="fa fa-plus-square " aria-hidden="true"></i> PACKETS</a></li>
                        <ul rv-id="network | prepend 'packetsBy'" class="nav nav-tabs nav-stacked collapse">
                            <!--li><a class="subnavtab" data-toggle="tab" rv-href="network | prepend '#packetsByLocalhosts'" rv-data-network="network" data-chart-json="test.json" data-ajax-params=""><i class="fa fa-area-chart" aria-hidden="true"></i> Localhosts</a></li>
                            <li><a class="subnavtab" data-toggle="tab" rv-href="network | prepend '#packetsByCountries'" rv-data-network="network" data-chart-json="test.json" data-ajax-params=""><i class="fa fa-area-chart" aria-hidden="true"></i> Countries</a></li>
                            <li><a class="subnavtab" data-toggle="tab" rv-href="network | prepend '#packetsByAutonomousSystems'" rv-data-network="network" data-chart-json="test.json" data-ajax-params=""><i class="fa fa-area-chart" aria-hidden="true"></i> Autonomous Systems</a></li-->
                            <li><a class="subnavtab" data-toggle="tab" rv-href="network | prepend '#packetsByProtocols'" rv-data-network="network" data-chart-json="netProtocolPackets.json" data-chart-title="Packets by Protocol" data-ajax-params=""><i class="fa fa-area-chart" aria-hidden="true"></i> Protocols</a></li>
                            <!--li><a class="subnavtab" data-toggle="tab" rv-href="network | prepend '#packetsByApplications'" rv-data-network="network" data-chart-json="test.json" data-ajax-params=""><i class="fa fa-area-chart" aria-hidden="true"></i> Applications</a></li-->
                        </ul>
                    </ul>
                </div>

                <div class="chartTimePreset">hell !!!!</div>

            </div>

            <br>

        </div>

        <div class="col-xs-12">

            <div class="tab-content">


                <!--"Traffic by"-->
                <div class="graph tab-pane fade toBottomChartsContainer" rv-id="network | prepend 'trafficByProtocols'">
                    <svg class = "diagram" rv-data-network="network" data-pie-json="netLocHostsProtoTraffic.json" ></svg>
                </div>
                <div class="graph tab-pane fade toBottomChartsContainer" rv-id="network | prepend 'trafficByLocalhosts'">
                    <svg class = "diagram " rv-data-network="network" data-pie-json="netExtHostsTopHostsTraffic.json" ></svg>
                </div>
                <div class="graph tab-pane fade toBottomChartsContainer" rv-id="network | prepend 'trafficByServices'">
                    <svg class = "diagram " rv-data-network="network" data-pie-json="netLocHostsServiceTraffic.json" ></svg>
                </div>
                <div class="graph tab-pane fade toBottomChartsContainer" rv-id="network | prepend 'trafficByCountries'">
                    <svg class = "diagram " rv-data-network="network" data-pie-json="netLocHostsTopCountryTraffic.json" ></svg>
                </div>
                <div class="graph tab-pane fade toBottomChartsContainer" rv-id="network | prepend 'trafficByAutonomousSystems'">
                    <svg class = "diagram " rv-data-network="network" data-pie-json="netLocHostsTopAsTraffic.json" ></svg>
                </div>
                <div class="graph tab-pane fade toBottomChartsContainer" rv-id="network | prepend 'trafficByApplications'">
                    <svg class = "diagram " rv-data-network="network" data-pie-json="netLocHostsTopAppTraffic.json" ></svg>
                </div>


                <!--"Flows by"-->
                <div class="graph tab-pane fade toBottomChartsContainer" rv-id="network | prepend 'flowsAll'">
                    <svg class = "diagram" rv-data-network="network" ></svg>
                </div>
                <div class="graph tab-pane fade toBottomChartsContainer" rv-id="network | prepend 'flowsByLocalhosts'">
                    <svg class = "diagram" rv-data-network="network" data-pie-json="netExtHostsTopHostsNbFlow.json" ></svg>
                </div>
                <div class="graph tab-pane fade toBottomChartsContainer" rv-id="network | prepend 'flowsByServices'">
                    <svg class = "diagram" rv-data-network="network" data-pie-json="netLocHostsServiceNbFlow.json" ></svg>
                </div>
                <div class="graph tab-pane fade toBottomChartsContainer" rv-id="network | prepend 'flowsByCountries'">
                    <svg class = "diagram" rv-data-network="network" data-pie-json="netLocHostsTopCountryNbFlow.json" ></svg>
                </div>
                <div class="graph tab-pane fade toBottomChartsContainer" rv-id="network | prepend 'flowsByAutonomousSystems'">
                    <svg class = "diagram" rv-data-network="network" data-pie-json="netLocHostsTopAsNbFlow.json" ></svg>
                </div>
                <div class="graph tab-pane fade toBottomChartsContainer" rv-id="network | prepend 'flowsByApplications'">
                    <svg class = "diagram" rv-data-network="network" data-pie-json="netLocHostsTopAppNbFlow.json" ></svg>
                </div>


                <!--"Local Services by"-->
                <!--div class="tab-pane fade " rv-id="network | prepend 'localServiceByTraffic'">
                    <svg class = "diagram" ></svg>
                </div>
                <div class="tab-pane fade " rv-iforTestClassd="network | prepend 'localServiceByPacketsNumber'">
                    <svg class = "diagram" ></svg>
                </div-->

                <!--"External Services by"-->
                <!--div class="tab-pane fade " rv-id="network | prepend 'externalServiceByTraffic'">
                    <svg class = "diagram" ></svg>
                </div>
                <div class="tab-pane fade " rv-id="network | prepend 'externalServiceByPacketsNumber'">
                    <svg class = "diagram" ></svg>
                </div-->

                <!--"Number of Active"-->
                <!--div class="tab-pane fade " rv-id="network | prepend 'nbActiveLocalHosts'">
                    <svg class = "diagram" ></svg>
                </div>
                <div class="tab-pane fade " rv-id="network | prepend 'nbActiveExternalHosts'">
                    <svg class = "diagram" ></svg>
                </div-->


                <!--"Nb HOSTS"-->
                <div class="graph tab-pane fade toBottomChartsContainer" rv-id="network | prepend 'nbHostsActiveLocalHosts'">
                    <svg class = "diagram" rv-data-network="network" ></svg>
                </div>
                <div class="graph tab-pane fade toBottomChartsContainer minute_only" rv-id="network | prepend 'nbHostsDistinctExternalHosts'">
                    <svg class = "diagram" rv-data-network="network" ></svg>
                </div>
                <div class="graph tab-pane fade toBottomChartsContainer" rv-id="network | prepend 'nbHostsDestByLocalhosts'">
                    <svg class = "diagram" rv-data-network="network" ></svg>
                </div>


                <!--"Number of Destinations"-->
                <!--div class="tab-pane fade " rv-id="network | prepend 'nbDestinationsLocalHosts'">
                    <svg class = "diagram" ></svg>
                </div-->


                <!--"Packets by"-->
                <!--div class="tab-pane fade " rv-id="network | prepend 'packetsByLocalhosts'">
                    <svg class = "diagram" ></svg>
                </div>
                <div class="tab-pane fade " rv-id="network | prepend 'packetsByCountries'">
                    <svg class = "diagram" ></svg>
                </div>
                <div class="tab-pane fade " rv-id="network | prepend 'packetsByAutonomousSystems'">
                    <svg class = "diagram" ></svg>
                </div-->
                <div class="graph tab-pane fade toBottomChartsContainer" rv-id="network | prepend 'packetsByProtocols'">
                    <svg class = "diagram" rv-data-network="network" data-pie-json="netLocHostsProtoPackets.json" ></svg>
                </div>
                <!--div class="tab-pane fade " rv-id="network | prepend 'packetsByApplications'">
                    <svg class = "diagram" ></svg>
                </div-->

            </div>
        </div>


        <!--script type="text/javascript">
            $('ul.nav-nest a[data-toggle="tab"]').on('click', function (e) {
                $($(e.target).parents("ul")[$(e.target).parents("ul").length-1]).find("li").removeClass("active");
            });

            $('ul.nav-nest a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                // TODO : Load chart and remove temporary text
                console.warn('TODO : Load chart and remove temporary text');

            })
        </script-->
    </div>
</div>
