.cal_j_semaines {
font-family:'Verdana',Times,serif;font-size:80%
}

.cal_j_semaines th
{
background-color:#d6dcff;
}

.cal_calendar
{
        border:0px solid black;
        padding:0px;
        background-color:#d6dcff;
        //width:250px;
        margin:auto;
        //height:200px;
        //background-image:url('http://www.supportduweb.com/ftp/ybouane/scripts_astuces/javascript/calendar/fond-250-200.gif');
        font-family: Verdana; font-size: 80%;
}
.cal_calendar td
{
        border:1px solid black;
        background-color:#ffffff;
        text-align:center;
	width: 25px;
	height: 25px;
}
.cal_calendar tr
{
	height: 25px;
}

td.hoverOn:hover 
{ background-color: #e6ecec;
	cursor : pointer;
}

td.selection {
color: #0;
background-color: #b5f3a8;
}

.cal_aujourdhui
{
        color:#ff0000;
}
.cal_jours_av_ap
{
        color:#5a779e;
}

#dialogPopUp .dijitDialogTitleBar .dijitDialogCloseIcon {
    display:none;
}


#conEchecDialog .dijitDialogTitleBar .dijitDialogCloseIcon {
    display:none;
}

#dialogDateError .dijitDialogTitleBar .dijitDialogCloseIcon {
    display:none;
}
