
table#dialogConfTable {
	white-space: pre-wrap;
}


table#dialogConfTable td {
	
    font: 15px verdana, arial, sans-serif;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #666;
    border-left: 0px solid #ccc;
	
}


table#dialogConfTable td.left {
    
    font: 15px verdana, arial, sans-serif;
    border-bottom: 1px solid #ccc;
    border-right: 0px solid #ccc;
    border-left: 1px solid #666;
	
}


table#dialogConfTable td.bottom {
    
    border-bottom: 1px solid #666;
	
}


table#dialogConfTable td.leftbottom {
    
    border-right: 0px solid #ccc;
    border-left: 1px solid #666;
    border-bottom: 1px solid #666;
	
}


table#dialogConfTable th{
    font-size:120%;
    border-right: 1px solid #666;
    border-left: 1px solid #666;
    border-bottom: 1px solid #666;
    white-space: pre-wrap;
}


table#dialogConfTable th.space{
    padding-top: 20px;
    border-right: 0px solid #666;
    border-left: 0px solid #666;
    white-space: pre-wrap;
}


table#dialogConfTable th.spaceUB{
    padding-top: 10px;
    border-right: 0px solid #666;
    border-left: 0px solid #666;
    white-space: pre-wrap;
}
