
table.formulaire {
			/* border-bottom-left-radius: 5px;
			 border-bottom-right-radius: 5px;
			 border-top-left-radius: 5px;
			 border-top-right-radius: 5px;
			 box-shadow: 2px 2px 5px 2px grey;*/
	/*font-family: sans-serif;
	border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 5px 3px lightgrey;
	border: 3px solid #d5d5d5;*/
			 /*margin-top: 0;
			 padding-bottom: 5px;
			 padding-left: 1.3em;
			 padding-top: 5px;*/
	margin-top: 10px;
	font-size:13px;
}

table.formulaire th {
    /* border-top-right-radius: 10px;
     border-top-left-radius: 10px;
	border-bottom: 1px solid #d5d5d5;
	padding-bottom: 5px;
	padding-top: 5px;
	background: #e5e5e5;
	font-size:13px;
	font-weight:bold;*/
}

td.TabQueryFormTD {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	font-size:13px;
	/*border: 2px solid #e5e5e5;*/
	/*background: #f0f7ff;*/
	border: 1px solid #f0f7ff;
}

td.TabQueryFormTD label.TabQueryFormTDLabel {
	width: 100%;
	background: #f0f7ff;
}


.countryTextBox {
	    width: 11em !important;
}

.ASTextBox {
	    width: 11em !important;
}

.timeFilter
{
position:absolute;
top:4em;
left:1em;
}

.hostsFilter
{
position:absolute;
top:15em;
left: 1em;
}


.submit2 input 
{
cursor: pointer;
position:absolute;
top:28em;
left:58em;
color: #000;
background: #cdffca;
border: 2px outset #d7b9c9
}

.submit2 input:disabled
{
cursor: pointer;
position:absolute;
top:28em;
left:58em;
color: #fff;
background: #ccc;
border: 2px outset #d7b9c9
}


.trafficFilter
{
position:absolute;
top:4em;
left:20em;
}

.pktsFilter
{
position:absolute;
top:17.45em;
left:20em;
}

.protoFilter
{
position:absolute;
top:4em;
left:39em;
}

.asterisk
{
position:relative;
top:0em;
left:0em;
}

.AddHostTab
{
position:absolute;
top: 0em;
width: 99%;
}

.AddQueryTab
{
position:absolute;
top: 18em;
width: 99%;
}

.timehost
{
position:absolute;
top: 4em;
left: 1em;
}

.localhost
{
position:absolute;
top: 4em;
left: 20em;
}


/*table.formulaire {
	border-width: thick;
	border-spacing: 0px;
	border-style: outset;
	border-color: gray;
	border-collapse: separate;
	background-color: #EEE;
	font-family: sans-serif
}
table.formulaire th {
	border-width: 2px;
	padding: 4px;
	border-style: ridge;
	border-color: black;
	color:#fff;
	font-weight:bold;
	background-color: #5a704b;
	-moz-border-radius: ;
}*/


.submit1
{
color: #000;
background: #e5e5e5;
border: 2px outset #d7b9c9;
width: 20em;
height: 3em;
}

label#TabQueryForm
{
/*font-family:sans-serif;*/
			/*font-size:80%;*/
/*width: 9em;
float: left;
text-align: right;
margin-right: 0.5em;
display: block*/
	font-size:13px;
}

table#TabQueryFormTcpFlags
{
width: 4em;
color: black;
border: 1px solid #727272;
	font-size:13px;
}

table#TabQueryFormTcpFlags td {
font-family:sans-serif;
/*font-size:80%;*/
padding:3px;
text-align:center;
	font-size:13px;
}


fieldset#TabQueryForm
{
	
     border-bottom-left-radius: 5px;
     border-bottom-right-radius: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
font-family:sans-serif;
	font-size:13px;
/*font-size:90%;*/
border: 1px solid #d5d5d5;
height: 90%;
width: 90%;
}


fieldset#TabQueryFormMore
{
	
     border-bottom-left-radius: 5px;
     border-bottom-right-radius: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
font-family:sans-serif;
	font-size:13px;
/*font-size:90%;*/
border: 1px solid #d5d5d5;
margin: 20px;
}


legend#TabQueryFormMore
{
     border-bottom-left-radius: 5px;
     border-bottom-right-radius: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
color: black;
background-color: #cfe5fa;
  background-image: url("images/standardGradient.png");
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  background-image: linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  _background-image: none;
border: 1px solid #d5d5d5;
padding: 2px 6px;
	font-size:13px;
}



/*fieldset#TabQueryForm table label
{
	width: 4em
}*/

legend#TabQueryForm
{
     border-bottom-left-radius: 5px;
     border-bottom-right-radius: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
color: black; 
background-color: #cfe5fa;
  background-image: url("images/standardGradient.png");
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  background-image: linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  _background-image: none;
border: 1px solid #d5d5d5;
padding: 2px 6px;
	font-size:13px;
/*width: 100%;*/
}

input#TabQueryForm
{
color: #0;
background: #cdffca;
padding: 7px;
	font-size:13px;
}

input#TabQueryFormData
{
color: #0;
padding: 7px;
	font-size:13px;
}


h2#TabQueryForm {
	font-family:sans-serif;
	/*font-size: 12pt;*/
	text-align: center;
	background-color: #e5e5e5;
	border: 1px solid #6c6;
	padding: 10px 6px;
	font-size:13px;
}
