
.zoomAxisSlider .dijitSliderProgressBar{
	width: 12px;
	/*overflow: visible;*/
	margin-left: -5px;
}

.graphWinClosed {
	 border-bottom-left-radius: 10px;
     border-bottom-right-radius: 10px;
     border-top-left-radius: 10px;
     border-top-right-radius: 10px;
     box-shadow: 0px 0px 5px 3px lightgrey;
}

.graphWinOpened {
	 border-bottom-left-radius: 10px;
     border-bottom-right-radius: 10px;
     border-top-left-radius: 10px;
     border-top-right-radius: 10px;
     box-shadow: 0px 0px 5px 2px lightgrey;
}

.dojoxDialogTitle {
    padding: 0px 0px !important;
    margin: 0px 10px !important;
}