

/*
form#rawData_form{
    font-size: 0.8em;
}

form#rawData_form .panel-heading {
    padding: 5px 5px 15px 15px;
}

form#rawData_form legend {
    margin-bottom: 10px;
}


div.countryIcon {
    content:url('../../images/more.png');
    float: right;
}*/

div.columnIcon.glyphicon-ok{
    color: darkgreen;
}

div.columnIcon.glyphicon-remove{
    color: darkred;
}

div.columnIcon{
    float: left;
    height: 14px;
}

#shownColumns.dropdown-menu>li>a {
     padding: 3px 10px;
}
