

tbody.BodyTable td {
    /*height: 20px;*/
    font: 15px verdana, arial, sans-serif;
    border-bottom: 1px solid #cfc;
    border-right: 1px solid #cfc;
    text-align: center;
}


thead.HeadersTable th{
	font: bold 15px verdana, arial, sans-serif;
	border-right: 1px solid #cfc;
    border-bottom: 1px solid #cfc;
	text-align: center;
	background-color: #dfd ;
}

thead.HeadersTable th table tbody tr td div{
	font: bold 15px verdana, arial, sans-serif;
}

